<ion-header mode="ios">
  <div class="header-image">
    <img src="./assets/img/ionic-academy.png" class="ion-text-left">
  </div>
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <div class="navbar" class="ion-text-center">
          <ion-button fill="clear" routerLink="/" routerDirection="root" routerLinkActive="active-link" class="link"
            [routerLinkActiveOptions]="{exact:true}">
            Home
          </ion-button>
          <ion-button fill="clear" routerLink="/news" routerDirection="root" routerLinkActive="active-link"
            class="link">
            News
          </ion-button>
          <ion-button fill="clear" routerLink="/profile" routerDirection="root" routerLinkActive="active-link"
            class="link">
            Profile
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>