ion-grid {
    --ion-grid-width-xs:              100%;
    --ion-grid-width-sm:              540px;
    --ion-grid-width-md:              720px;
    --ion-grid-width-lg:              960px;
    --ion-grid-width-xl:              1140px;

    --ion-grid-column-padding-lg:     15px;
    --ion-grid-column-padding-xl:     25px;
}

@media screen and (min-width: 1000px) {
    ion-card-title {
        font-weight: 600;
        color: var(--ion-color-secondary);
    }
}