<ion-content>
  <app-header></app-header>

  <h1>Welcom to my Ionic Website</h1>
  <ion-text color="secondary">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus odit odio ipsam, maiores id reiciendis recusandae nemo distinctio nobis aut, reprehenderit labore, perferendis molestiae quis voluptates voluptatem fugit voluptatibus rem incidunt! Quas voluptatibus soluta accusamus, voluptatum dicta hic sed nemo deleniti eos neque laborum accusantium a repudiandae animi, cumque illo fugiat necessitatibus? Cum quas eos, sed aliquid aspernatur repudiandae provident exercitationem quae numquam, fugiat architecto! Temporibus corrupti ea rerum repellat dolore maxime hic atque inventore cum doloremque suscipit eaque quo repellendus sed dolorem molestias, quibusdam optio itaque? Voluptates numquam nesciunt expedita quibusdam neque illo veniam repellendus laboriosam soluta, adipisci dignissimos?</p>
  </ion-text>
</ion-content>